.header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 72rem;
}

.h-img {
    position: relative;
}

.h-img1 {
    position: relative;
    z-index: 1;
    height: 3rem;
    max-width: 100%;
}

.h-img2 {
    top: -14px;
    z-index: 0;
    position: absolute;
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.m-width {
    max-width: 72rem !important;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.container-h {
    width: 100%;
}

.t-hoa {
    text-transform: uppercase;
}

.nt {
    display: flex;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    margin-left: 2.5rem;
    width: 9rem;
    flex-wrap: nowrap;
    align-items: center;
}

.atm {
    display: flex;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    flex-wrap: nowrap;
    align-items: center;
}

.ic-color {
    color: #D61B10;
    width: 28px;
    height: 24px;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    display: inline-flex !important;
}

.nt-ic {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-size: 16px;
}

.btn-login {
    height: 2.5rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    position: relative;
    background-color: #ea473f !important;
    border: 0px solid;
}

.ct-btn-login {
    display: inline-block;
}

.ic-btn-login {
    line-height: 1.75rem;
    color: white;
}

header {
    background-color: #FFF;
    height: 65px;
    border-bottom-width: 1px;
}

.fa-user {
    width: 18px;
    height: 18px;
}

.t-btn-login {
    margin-left: 0.25rem;
}

.h-img2{
    left: 0px;
}

.t-btn-login {
    margin-left: 0.5rem;
}


/* Reponsive */
@media screen and (max-width: 768px) {
    .t-btn-login {
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 418px) {
    .nt,
    .atm {
        display: none;
    }

    .h-img1 {
        height: 2.5rem;
    }


    .fa-user {
        display: none !important;
    }

    .btn-login {
        height: 2rem;
    }

    header {
        background-color: #FFF;
        height: 56px;
    }
}
